.section {
    padding: 1rem 10%;
    text-align: center;
}

.founders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.founder-card {
    padding: 30px;
    border-radius: 10px;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 10px 20px #0003;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.founder-card img {
    width: 100%;
    border-radius: 10px;
}

.founder-card h3 {
    margin-top: 15px;
    font-size: 1.5rem;
    background: linear-gradient(
        358deg,
        var(--aynix-primary-color),
        var(--aynix-secondary-color),
        var(--aynix-ternary-color)
    );
    -webkit-background-clip: text;
    color: transparent;
}

.vision-box {
    padding: 40px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 10px 20px #0003;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.tech-migration {
    background: #181818;
    padding: 60px 10%;
    text-align: center;
}

.tech-migration h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--aynix-primary-color);
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.icon-box {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.icon-box h3 {
    font-size: 1.3rem;
    margin-top: 10px;
    color: var(--aynix-secondary-color);
}
