@font-face {
    font-family: "Feeling Passionate";
    src: url("../fonts/FeelingPassionate.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Umbasoft";
    src: url("../fonts/UmbaSoft.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Umbasoft", sans-serif;
    font-weight: 800; /* ExtraBold */
}

h2 {
    font-family: "Umbasoft", sans-serif;
    font-weight: 700; /* Bold */
}

h3 {
    font-family: "Umbasoft", sans-serif;
    font-weight: 500; /* Medium */
}

h4 {
    font-family: "Umbasoft", sans-serif;
    font-weight: 400; /* Regular */
}

/* Apply Inter to paragraphs, links, body text */
body,
p,
a,
span,
li,
button,
input,
textarea {
    font-family: "Nunito", sans-serif;
    font-weight: 400; /* Regular */
}

strong,
b {
    font-family: "Nunito", sans-serif;
    font-weight: 700; /* Bold */
}

em,
i {
    font-family: "Nunito", sans-serif;
    font-style: italic;
}
