/* Loader - schermata di transizione */
#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

#page-loader.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Animazione del loader */
.loader {
    border: 4px solid rgba(228, 228, 228, 0);
    border-top: 4px solid var(--aynix-primary-color); /* Dark Blue */
    border-right: 4px solid var(--aynix-secondary-color); /* Green */
    border-bottom: 4px solid var(--aynix-ternary-color); /* Orange */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
