:root {
    --aynix-primary-color: #d32f2f; /* Rosso principale */
    --aynix-primary-hover: #b71c1c; /* Hover per il colore principale */
    --aynix-primary-focus: #9a0007; /* Focus per il colore principale */
    --aynix-primary-lighter: #ffcdd2; /* Variante più chiara */
    --aynix-primary-darker: #7f0000; /* Variante più scura */

    --aynix-secondary-color: #e53935; /* Rosso intenso */
    --aynix-secondary-hover: #c62828; /* Hover per il colore secondario */
    --aynix-secondary-focus: #ad0000; /* Focus per il colore secondario */
    --aynix-secondary-lighter: #ff8a80; /* Variante più chiara */
    --aynix-secondary-darker: #8e0000; /* Variante più scura */

    --aynix-ternary-color: #f44336; /* Rosso caldo per evidenziare */
    --aynix-ternary-hover: #d32f2f; /* Hover per il colore ternario */
    --aynix-ternary-focus: #b71c1c; /* Focus per il colore ternario */
    --aynix-ternary-lighter: #ffcdd2; /* Variante più chiara */
    --aynix-ternary-darker: #9a0007; /* Variante più scura */
}
