/* Global Styles */
html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    color: #000000;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Responsive: layout row for desktop, column for mobile */
@media (min-width: 769px) {
    .container {
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

a {
    color: var(--aynix-secondary-color);
    text-decoration: none;
}
a:hover {
    color: var(--aynix-secondary-lighter);
}

.homepage-layout {
    min-height: 90vh;
}

.page-layout {
    min-height: 90vh;
    margin-top: 8vh;
}

.section-title {
    h2 {
        text-align: center;
    }
    h3 {
        border-bottom: 1px solid #ffffff63;
    }
}
