.container-articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 0;
}

article.homepage {
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 300px; /* Altezza fissa */
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px #0003;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

article.homepage:hover {
    transform: translateY(-5px);
}

article.homepage h2 {
    font-size: 18px;
    margin: 15px;
    color: inherit;
}

article.homepage h2 a {
    text-decoration: none;
    color: inherit;
}

.post-thumbnail {
    width: 100%;
    height: 200px; /* Altezza fissa per mantenere uniformità */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assicura che l'immagine si adatti senza deformarsi */
    display: block;
    filter: grayscale(100%); /* Trasforma l'immagine in scala di grigi */
    transition: filter 0.3s ease-in-out;
}

.post-thumbnail img:hover {
    filter: grayscale(0%); /* Ritorna ai colori originali al passaggio del mouse */
}

article.homepage p {
    font-size: 14px;
    color: #fff;
    padding: 0 15px 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1024px) {
    .container-articles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container-articles {
        grid-template-columns: repeat(1, 1fr);
    }

    article.homepage {
        flex-direction: row;
        height: inherit;
    }
    .post-thumbnail {
        height: inherit;
        overflow: initial;
    }
    .post-thumbnail img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        display: block;
    }
}
