/* General Styles */
.services-page {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.service-section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px #0003;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; /* Spazio tra icona e testo */
}
.service-section a {
display:flex;
    gap: 2rem;
    width: 100%;
}

.service-section h2 {
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 15px; /* Aggiungi spazio tra il titolo e la descrizione */
    text-transform: capitalize;
}

.service-section p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.8;
    margin-top: 0; /* Rimuovi margine sopra il paragrafo */
}

/* Icon container style */
.icon-container {
    margin-right: 20px;
    font-size: 50px; /* Aumenta la dimensione dell'icona */
    color: #ffffff;
}

.service-icon {
    transition: color 0.3s ease-in-out;
}

/* Hover effect on icon */
.service-section:hover .service-icon {
    color: #ffffff;
}

/* Specific Section Background Colors */
/* #app-development {
    background-color: #e6f7ff;
}

#process-automation {
    background-color: #fffbe6;
}

#integrations-api {
    background-color: #e6ffe6;
}

#technology-consulting {
    background-color: #fff0f0;
}

#ai-agent-creation {
    background-color: #f2e6ff;
} */

/* Responsive Design */
@media (max-width: 768px) {
    .service-section h2 {
        font-size: 22px;
        margin-bottom: 12px; /* Spazio tra il titolo e la descrizione su schermi più piccoli */
    }

    .service-section p {
        font-size: 14px;
    }

    .service-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px; /* Maggiore distanza tra i vari elementi */
    }

    .icon-container {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 40px; /* Diminuisci la dimensione dell'icona per schermi piccoli */
    }
}
