/* Layout principale */
.blog-layout {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.blog-content {
    display: flex;
    gap: 30px;
    flex: 1;
}

/* Stili per il contenuto principale */
.left-content {
    flex: 70%;
}

.post-blog {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1); /* Sfondo trasparente */
    backdrop-filter: blur(10px); /* Effetto blur */
    box-shadow: 0 10px 20px #0003;
    border-radius: 8px;
}

.post-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.post-blog img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.post-content {
    padding: 0.5rem 1rem;
}

/* Titolo dell'articolo */
.post-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    background: linear-gradient(
        358deg,
        var(--aynix-primary-color),
        var(--aynix-secondary-color),
        var(--aynix-ternary-color)
    );
    -webkit-background-clip: text;
    color: transparent;
}

.post-title:hover {
    color: var(--aynix-ternary-color);
}

/* Descrizione breve dell'articolo */
.post-excerpt {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

/* Sidebar */
.right-content {
    flex: 30%;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1); /* Sfondo trasparente */
    backdrop-filter: blur(10px); /* Effetto blur */
    box-shadow: 0 10px 20px #0003;
    color: #fff;
}

.right-content h2 {
    font-size: 1.4em;
    color: #ffffff;
    margin-bottom: 10px;
}

.right-content ul {
    list-style-type: none;
    padding-left: 0;
}

.right-content ul li {
    margin-bottom: 10px;
}

.right-content ul li a {
    font-size: 1.1em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.right-content ul li a:hover {
    color: var(--aynix-secondary-color);
}

/* Stili per la paginazione */
.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination .page-numbers {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    background-color: var(--aynix-secondary-color);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.pagination .page-numbers:hover {
    background-color: var(--aynix-secondary-color);
}

.pagination .current {
    background-color: #333;
    color: white;
}

/* Stili responsivi */
@media (max-width: 768px) {
    .blog-layout {
        flex-direction: column;
        gap: 20px;
    }

    .blog-content {
        flex-direction: column;
    }

    .left-content,
    .right-content {
        flex: 1;
    }

    .post-thumbnail img {
        border-radius: 5px;
        width: 100%;
        height: 150px;
    }

    .post-blog {
        justify-content: center;
        flex-direction: column;
        border-bottom: none;
        padding-bottom: 10px;
    }

    .post-title {
        font-size: 1.5em;
    }

    .post-excerpt {
        font-size: 1em;
    }
}
