/* Stile personalizzato per il form di richiesta cancellazione dati */
form input[type="submit"] {
    background-color: #0073aa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #005177;
}
